<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-6 offset-3">
      <h3 class="mb-3">Create a New Listing</h3>
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title </label>
          <input
            id="title"
            type="text"
            name="listing[title]"
            class="form-control"
            placeholder="Add a catchy title"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Title can't be empty!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a short discription!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image </label>
          <input
            id="image"
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1200"
              type="number"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Price should be valid!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="India"
              id="country"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Country name should by valid!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Jaipur, Rajastan"
            id="location"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Location should be valid!</div>
        </div>

        <button class="btn btn-dark add-btn mt-2">Add</button>
      </form>
    </div>
  </div>
</body>
